/* font-family: 'Lato', sans-serif; */
*{
    margin: 0px;
    padding: 0px;
}
body{
 font-family: 'Lato', sans-serif;
}
.main-container{
    /* border: 2px solid red; */
    height: 180vh;
    margin: 0px 60px;
}


.banner{
    /* border: 3px solid green;   */
}


.boxone{
    /* border: 2px solid black; */
    height: 15vh;
}

.boxone-content{
    /* border: 6px solid red; */
    margin: 10px ;

}
.boxone-content h1{
    font-size: 20px;
    text-align: center;

}
.boxtwo{
    /* border: 2px solid blue; */

}
.boxtwo-content{
    /* border: 2px solid red; */
    height: 1vh;
    background-color: yellow;
}
.mainlayout{
        /* border: 5px solid palevioletred; */
        display: block;
        height: 160vh;
}

.layout{
   height: 50vh;
   display: flex;
}
.layout-left{
    border: 3px solid black;
    flex: 3;
}

.layout-right{
    border: 3px solid red;
    flex: 3;

}










/*  MEDIA QUERY SECTION */

@media (max-width: 600px){
    .boxone{
        /* border: 2px solid black; */
        height: 10vh;
    }
    .boxone-content{
        /* border: 2px solid red; */
       
        margin: 10px;
    
    }
    .boxone-content h1{
        text-align: center;
        font-size: 10px;
    }
    .layout{
        display: block;
        width: 100%;
        height: 100vh;

    }
    .layout-left{
        display: block;
        width: 100%;
        height: 40vh;

    }
    .layout-right{
        display: block;
        width: 100%;
        height: 40vh;

    }
}